/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600&display=swap');
/* Add your custom styles here if needed */

h1 {
    color: #333;
    @apply font-dm-sans text-3xl font-bold
  }

button {
    min-width: auto;
    @apply bg-drs-red text-base font-semibold text-white font-dm-sans p-3.5 rounded-3xl w-full
}

.button-secondary{
    min-width: auto;
    @apply border border-drs-red bg-white text-base font-semibold text-drs-red font-dm-sans p-3.5 rounded-3xl w-full
}

.icon-p
{
    @apply font-dm-sans font-thin text-xs
}
